@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  background-color: #F0F6FF;
  padding: 15px 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-h {
  background-color: #057AFF;
  padding: 1px 15px;
  font-size: 35px;
  color: #DBE1FF;
  border-radius: 7px;
}

.headLinks {
  display: flex;
  align-items: center;
}

.headLinks a {
  padding: 7px;
  border-radius: 7px;
  background-color: inherit;
  font-size: 14px;
}

.headLinks a.active {
  background-color: #021431;
  color: #DBE1FF;
}

.headLinks a.nonactive:hover {
  background-color: gray;
  color: black;
}

.load-pr {
  text-align: center;
}
.products_paginate{
  margin-bottom: 50px;
  display: flex;
  justify-content: end;
}
.products{
  margin-top: 100px;
}
.detailb{
  margin-bottom: 50px;
  margin-top: 50px;
}